# Ambientes Virtuais
.venv/
venv/
env/

# Arquivos de ambiente e chaves
.env

# Cache e artefatos do Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Dados e Modelos baixados (opcional, se você salvar localmente)
*.csv
*.safetensors

# Editor
.vscode/
.idea/

# Ignorar notebooks exceto o principal
*.ipynb
!Davi_pln_pubmed.ipynb
